$buttonColor: #4dbd3d;
$buttonHover: #1f6d14;

.button-container {
    display: flex;
    justify-content: center;
    margin: 0rem 0rem 1rem 0rem;
}

.details-button {
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 20px;
    background-color: $buttonColor;
    color: white;
    border: none;
    cursor: pointer;
}

.details-button:hover {
    background-color: $buttonHover;
}

@media (max-width:480px) {
    .details-button {
        padding: 0.5rem 3rem 0.5rem 3rem;
    }
}

@media only screen and (min-width: 624px) {
    .details-button {
        padding: 0.7rem 3rem 0.7rem 3rem;
    }
}