@media (max-width: 480px) {
    .product-gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        padding: 0rem 10rem 0rem 10rem;
    }
}

@media (min-width: 500px) {
    .product-gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        padding: 0rem 20rem 0rem 20rem;
    }
}

@media (min-width: 1000px) {
    .product-gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        padding: 0rem 20rem 0rem 20rem;
    }
}